{
  "CDN": {
    "service": true,
    "port": {
      "2222": "disable_hostname_hash_check"
    },
    "token-service": "http://app-token:81",
    "check_timeout": 30,
    "password": "{{ stacks['portal']['app-url']['env_vars']['URL_ENCODER_PASSWORD'] }}",
    "rabbitmq-host": "rabbitmq",
    "rabbitmq-port": 5672,
    "rabbitmq-security-queue-name": "app.security.refresh",
    "rabbitmq-username": "cdn",
    "rabbitmq-password": "cdn"
  },
  "Streaming": {
    "service": false
  },
  "Retransmission": {
    "service": true,
      "h264-mangling" : {
      "sei" : {
        "send-abs-timestamp" : true,
        "payload-type" : 5
      }
    }
  },
  "Recording": {
    "service": false
  },
  "NewScreenshots": {
    "service": true
  },
  "System": {
    "raw2flv-converter-max-cache-size": 10000000,
    "io-threads": 16,
    "max_nalunit_size": 50000000,
    "max_sps_size": 100000
  }
}
