# RABBITMQ                                                                                                                                                                                                                                    
rabbitmq.connection.host=rabbitmq
rabbitmq.connection.username=token
rabbitmq.connection.password=token
rabbitmq.connection.heartbeat.interval=30

rabbitmq.queues.exchange.name=app.security.refresh
rabbitmq.queues.exchange.durable=true

rabbitmq.backoff.init.interval=500
rabbitmq.backoff.max.interval=10000
rabbitmq.backoff.multiplier=2.0

# TOKEN SERVICE PROPERTIES

# user.loading.source - Откуда загружать данные пользователя
# Значения:
#  "local"   - загружать из локальной БД
#  "remote"  - загружать из БД портала
#  "fake"    - создать фейкового пользователя
user.loading.source=remote

# camera.loading.source - Откуда загружать данные камеры
# Значения:
#  "local"   - загружать из локальной БД
#  "remote"  - загружать из БД портала
camera.loading.source=remote

# tokenProvider.mode - режим работы сервиса
# common      - базовая реализация
# stepLogic   - token-service проксирует запросы в Step Logic
# scheduled   - базовая реализация + проверка токенов по расписанию
tokenProvider.mode=common

# token.useCount - сколько раз можно использовать(проверять) токен
# -1 (бесконечно)
token_useCount=-1


# WEB SERVICES

#Интервал ожидания ответа от внешней службы
#ws.read.timeout=30000
#Максимальное кол-во коннектов к внешней службе
#ws.max.connections=20

#Адрес врешней службы по работе с токенами
#ws.step.token.host=10.200.80.6
#Порт внешней службы по работе с токенами
#ws.step.token.port=84
#Наименование внешней службы по работе с токенами
#ws.step.token.method=TokenManagerApi

#Адрес внешней службы по управлению камерами
#ws.step.cameraControl.host=10.200.80.6
#Порт внешней службы по управлению камерами
#ws.step.cameraControl.port=84
#Наименование внешней службы по управлению камерами
#ws.step.cameraControl.method=CameraControl

################################################################################
# НАСТРОЙКИ, КОТОРЫЕ ПОДХВАТЫВАЮТСЯ БЕЗ ПЕРЕЗАПУСКА СЕРВИСА
################################################################################

#Интервал запуска заданий по очистке блокировок
BLOCK_CLEARING_INTERVAL=10000

#Интервал блокировки по умолчанию
DEFAULT_BLOCK_INTERVAL=600000

#Уведомлять ли айстримы при протухании токена
NOTIFY_OF_EXPIRED_TOKENS=true

#Уведомлять рестример об удалённых токенах
NOTIFY_OF_REMOVED_TOKENS=true

#Время жизни паблик токена, мсек
PUBLIC_TOKEN_LIFE_TIME=3600000

#Наименование раздела получения статуса внешней службы
STEP_TOKEN_WS_STATUS_NAMESPACE=BaseService

#Наименование раздела работы с токенами внешней службы
STEP_TOKEN_WS_TOKEN_NAMESPACE=TokenManagerService

#Интервал запуска очистки токенов, мсек
TOKEN_CLEARING_INTERVAL=10000

#Дефолтное время жизни токена, мсек
TOKEN_LIFE_TIME=3600000
