{
  "BitrateCalculator": {
    "enabled": true
  },
  "Plugins": {
    "AMQP": {
      "cs-enabled": true,
      "ss-enabled": true,
      "enabled": true,
      "rabbitmq-exchange": "amq.topic",
      "rabbitmq-host": "rabbitmq",
      "rabbitmq-password": "recorder",
      "rabbitmq-port": 5672,
      "rabbitmq-prefix-key": "monitoring.channelstatus.#",
      "rabbitmq-user": "recorder"
    }
  },
  "Recording": {
    "RTSP": {
      "max-propset-length": 10000
    },
    "Dumping": {
      "concurrent-jobs-count": 1,
      "task-ttl": 2592000,
      "url-prefix": "/dump",
      "post-script-path": ["/bin/bash", "bash", "-c", "/opt/domain/streamer/bin/md5Gen.sh {dump.path}"]
    },
    "audio-es-packets-detection-interval": 300000,
    "audio-es-packets-detection-period": 30000,
    "chunk-size": 150000000,
    "force-start-channels-on-start": true, 
    "recording-buffer-size-per-thread": 50000000,
    "io-threads": 16,
    "limit-available-regions": 1000,
    "min-available-region-length": 300000,
    "max-ts-delta": 20000,
    "max-dts-delta": 20000,
    "max-dirty-pages": 500
  },
  "System": {
    "ident": "{{ inventory_hostname }}:2032",
    "io-threads": 16,
    "max_nalunit_size": 50000000,
    "max_sps_size": 10000
  },
  "OddRobot": {
    "enabled": false
  }
}
